
.navbar-default {
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.25);
}
    .navbar-default .navbar-brand {
        color: #31a2d3;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
    .navbar-default .navbar-nav > li > a {
        color: #666;
        font-size: 16px;
        font-weight: bold;
        height: 75px;
        line-height: 35px;
    }
    .navbar-default .navbar-toggle:hover {
        border-color: #31a2d3;
        background-color: #31a2d3;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #041535;
    }

.navbar-toggle {
    margin-top:17px;
}


#welcome {
  
    background-size:cover;
   
    color:black;
    margin-top:70px;
    text-align:center;
    
}

#welcome h1 {
        font-weight:bold;
}

.input-group-addon:first-child {
    border-right: 0;
    width: 150px;
}

.input-group-addon:first-child {
    border-right: 0;
    width: 30%;
}

#information {
    padding-top:30px;

}

#person {
    margin-top: 30px;
    line-height: 35px;
    font-size: 18px;
    
}
footer {
    text-align:center;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1;
    margin: 0 auto;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}

.thumbnail {
border:0px;
padding-top:20px;
}

#imageturn {
    margin-top: 100px;
}
